body {
	background-color: #38A1F3;
}

header {
	display: flex;
	font-size: 40px;
	font-family: Helvetica Neue;
	color: white;
	margin-top: 30px;
	margin-left: 200px;
}

img {
	margin-top: 16px;
	margin-right: 6px;
	margin-left: 5px;
}

p {
	font-size: 20px;
}

span {
	font-weight: bold;
	font-size:25px;
}

span:hover {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

li, ul {
	list-style: none;
}

textarea {
	padding-top: 5px;
	font-size: 15px;
}

input[type=text] {
	font-size: 15px;
}

.main-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px;
	background-color: white; 
 	padding: 50px;
 	padding-top: 5px;
 	margin-left: 200px;
 	margin-right: 200px;
 	margin-top: 40px;
 	margin-bottom: 50px;

}

.user-container {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

#user-tweet {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.input-tweet {
	width: 60%;
	height: 60px;
	margin: 20px;
	border: 1px solid;
	border-color: #8ed2fc ;
	border-radius: 5px;
}

.submit{

}

.tweets-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.load-tweets {
    background: #38A1F3;
    width: 600px;
    cursor: pointer;
    font-size: 20px;
    font-family: Helvetica Neue;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    transition-duration: 0.4s;
    text-align: center;

}

.load-tweets:hover {
	background-color: #8ed2fc;
	border-color: #8ed2fc;
	transition-duration: 0.8s;
}

.input-tweet:focus {
	outline:none;
}

.tweets {
	overflow: auto;
	height: 600px;
	width: 600px;

}

.tweets li {
	height: auto;
	border-bottom: 1px solid;
	margin-left: -40px;
}

.time {
	font-style: italic;
	color: grey;
	font-size: 14px;
}

.input-tweet::placeholder { 
    font-size: 15px;
    color:#8ed2fc;
}









