body {
	background-color: #38A1F3;
	font-family: Helvetica Neue;
}

header {
	display: flex;
	font-size: 40px;
	font-family: Helvetica Neue;
	color: white;
	margin-top: 30px;
	margin-left: 200px;
}

img {
	margin-top: 16px;
	margin-right: 6px;
	margin-left: 5px;
}

p {
	font-size: 20px;
}

span {
	font-weight: bold;
	font-size:25px;
}

span:hover {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

li, ul {
	list-style: none;
}

textarea {
	padding-top: 5px;
	font-size: 15px;
}

input[type=text] {
	font-size: 15px;
}

.main-container {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	background-color: #f4fafe; 
 	padding: 40px;
 	padding-top: 5px;
 	padding-bottom: 50px;
 	margin-left: 200px;
 	margin-right: 200px;
 	margin-top: 40px;
 	margin-bottom: 50px;

}

/*.body-header {
	background: #f4fafe;
	padding-left: 200px;
	padding-right: 200px;
	margin-top: ;
}*/

.user-container {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}


.input-tweet {
	width: 420px;
	height: 60px;
	margin: 20px;
	margin-left: 0px;
	border: 2px solid;
	border-color: #8ed2fc ;
	border-radius: 5px;
}

.submit{
	background: white;
	cursor: pointer;
	font-size: 13px;
	border: 2px solid;
	border-color: #91D2FA;
	border-radius: 20px;
	color: #91D2FA;
	width: 55px;
	height: 25px;
	margin-top: 43px;
}

.tweets-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.load-tweets {
    background: #38A1F3;
    opacity: 0.7;
    width: 500px;
    cursor: pointer;
    font-size: 20px;
    font-family: Helvetica Neue;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    transition-duration: 0.4s;
    text-align: center;
    border-radius: 5px;
    margin-bottom: -15px;
}

.load-tweets:hover {
	background-color:#91D2FA;
	transition-duration: 0.8s;
}

.input-tweet:focus {
	outline:none;
}

.tweets {
	overflow: auto;
	height: 600px;
	width: 500px;

}

.tweets li {
	height: auto;
	border-bottom: 2px dotted;
	border-color: #91D2FA;
	margin-left: -40px;
	background: white;
	padding: 10px;
	border-radius: 20px;
}

.time {
	font-style: italic;
	color: grey;
	font-size: 14px;
	tab-size: 5;
}

.input-tweet::placeholder { 
    font-size: 15px;
    color:#8ed2fc;
}









