body {
	background-color: #38A1F3;
}

header {
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-family: cursive;
}

#section {
	display:flex; 
	border: double;
	justify-content: center;
	align-items: center;

}
.tweets {
 	border: solid;
 	margin-left: 100px;
 	margin-right: 100px;
 	margin-top: 30px;
 	margin-bottom: 50px;
 	background-color: white; 
 	padding: 30px;
}

.timeline {
	border: dotted;
	margin-left: 600px;
}

.button-container{
	margin: 10px;
	text-align: center;
}

.button {

}